.app {
    font-family: var(--vscode-font-family);
    font-size: var(--vscode-font-size);
    color: var(--vscode-foreground);
    background-color: var(--vscode-sideBar-background);
    margin: 0;
    padding: 8px;
    height: 99vh;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
}